.App {
  text-align: center;
  font-family: 'Proxima N W01 Reg', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Denomination-inputs {
  display: flex;
  max-width: 80%;
}
